:host ::ng-deep {


  body {
    background-color: #f8f9fa; 
    color: #495057;
    font-family: var(--font-family);
    transition: background-color 0.3s, color 0.3s;
    margin: 0;
    padding: 0;
  }


  html.dk body {
    background-color: #212529 !important; 
    color: #e0e0e0;
  }


  html.dk h1,
  html.dk h2,
  html.dk h3 {
    color: #ffffff;
  }
}



.body{
  max-height: 100vh;
  height: 100%;
  max-width: 100vw;
  width: 100%;
  padding: 5px;
}

.contenido{
  width: 100%;
}

.menu-left{
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.menu-left span{
  padding-left: 20px;
}

.proyect{
  font-family: "Jersey 25", sans-serif;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

.main-content{
  display: flex;
}

.barra-vertical{
  width: 15%;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.contenido-router{
  width: 85%;
  padding: 15px;
  margin-top: 10px;
  margin-left: 5px;
  border-radius: 10px;
  transition: background-color 0.3s, border-color 0.3s;
  

  background-color: #ffffff;
  border: 1px solid #dee2e6;
}

:host ::ng-deep html.dk .contenido-router {

  background-color: #343a40 !important;
  border: 1px solid #495057;
}

.botones{
  display: flex;
  gap: 15px;
  padding-right: 15px;
}

.title{
  text-decoration: none;
  font-family: "Jersey 25", sans-serif;
  font-size: 35px;
  margin-left: 10px;
}
