<div class="body">

  <div class="intro">
    <h2>Módulos A Tratar</h2>
  </div>

  <div class="contenido">
     
    <div *ngFor=" let modulo of modulos" class="modulo-item">
      <p-card>
        <div class="card" >
          <div class="carta">
            <h2>{{ modulo.nombreModulo }}</h2>
            <h4>Dificultad del Módulo: {{ modulo.dificultad }}</h4>
            <h4>Especialidad del Módulo: {{ modulo.nombreEspecialidad }}</h4>
          </div>
          <div class="go">
            <p-button icon="pi pi-arrow-right" rounded="true" aria-label="Save" (click)="redirigirTemas(modulo.idModulo)"/>
          </div>
        </div>
      </p-card>

    </div>

  </div>

</div>
